<div>

     
    
    <h3>Login Here</h3>
    
     <form>
    
    <div>
    
    <label for="email">Email</label>
    
     <input  type="text" placeholder="Enter Email"></div>
    
    <div><label for="username">username</label>
     <input  type="text" placeholder="Enter Username"></div>
     <div><label for="password">Password</label>
    
     <input type="password"></div>
    
     <div>
    
    <button>Submit</button></div>
    
     
    <div>
    <a routerLink="/signUp">signUp</a></div>
    <div>

    </div>
    <a routerLink="/forgotpassword">ForgotPassword</a></div>
    
     </form>
    
     </div>
